name: Go test&lint

on:
  push:

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6
      - uses: actions/setup-go@44694675825211faa026b3c33043df3e48a5fa00 # v6
      - name: Run test
        run: |
          go test ./... --shuffle on --parallel 10 --p 10
  lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6
      - uses: aquaproj/aqua-installer@ea518c135a02fc11ff8024364510c181a5c6b342 # v4.0.3
        with:
          aqua_version: v2.55.1
      - name: Run lint
        run: |
          golangci-lint run --enable=gosec